{% extends "base/base.html" %}
{% load static crispy_forms_tags widget_tweaks %}

{% block title %}
<title>Forgot Username/Password – OrphanSys</title>
{% endblock %}

{% block metatags %}
{% endblock %}

{% block style %}
{% endblock %}

{% block body %}
<!-- Section: Design Block -->
<section class="vh-100 d-flex align-items-center justify-content-center" style="background-color: hsl(0, 0%, 96%)">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        Forgot<br />
                        <span class="text-primary">Username or Password</span>
                    </h1>
                    <p style="color: hsl(217, 10%, 50.8%)">
                        Enter your email
                        address below, and we will email instructions for setting a new one.
                    </p>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                            {% elif message.tags == 'success' %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                            {% endif %}
                            {% endfor %}

                            {% if validlink %}
                            <form class="px-2" action="" method="POST">
                                {% csrf_token %}

                                <div class="relative w-full mb-5">
                                    <label class="form-label" for="grid-password">New
                                        password</label>
                                    {{ form.new_password1|add_class:'form-control' }}
                                </div>

                                <ul class="list-disc list-inside text-sm">
                                    <li>Your password can't be too similar to your other personal information.</li>
                                    <li>Your password must contain at least 8 characters..</li>
                                    <li>Your password can't be a commonly used password.</li>
                                    <li>Your password can't be entirely numeric.</li>
                                </ul>
                                <br>

                                <div class="relative w-full mb-5">
                                    <label class="form-label" for="grid-password">Confirm
                                        new password</label>
                                    {{ form.new_password2|add_class:'form-control' }}
                                </div>

                                <div class="flex justify-center py-4">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Submit
                                    </button>
                                </div>
                            </form>

                            {% else %}
                            <p class="text-sm text-gray-600 dark:text-gray-200">
                                The password reset link was invalid, possibly because it has already been used.
                                Please request a new password reset.
                            </p>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
{% endblock %}