{% extends "base/base.html" %}
{% load static crispy_forms_tags widget_tweaks %}

{% block title %}
<title>Forgot Username/Password – OrphanSys</title>
{% endblock %}

{% block metatags %}
{% endblock %}

{% block style %}
{% endblock %}

{% block body %}
<!-- Section: Design Block -->
<section class="vh-100 d-flex align-items-center justify-content-center" style="background-color: hsl(0, 0%, 96%)">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        Forgot<br />
                        <span class="text-primary">Username or Password</span>
                    </h1>
                    <p style="color: hsl(217, 10%, 50.8%)">
                        Your new password has been set.
                    </p>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                            {% elif message.tags == 'success' %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                            {% endif %}
                            {% endfor %}

                            <!-- <div class="px-4 py-2 -mx-3 w-full">
                                <div class="mx-3">
                                    <span class="font-semibold text-green-500 dark:text-green-400">Success</span>
                                    <p class="text-sm text-gray-600 dark:text-gray-200">
                                        Your new password has been set.</p>
                                </div>
                            </div> -->

                            <div class="flex justify-center py-4">
                                <a href="{% url 'login' %}" class="btn btn-primary btn-block">
                                    Back to Sign In page
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
{% endblock %}