{% extends "base/base.html" %}
{% load static crispy_forms_tags widget_tweaks %}

{% block title %}
<title>Forgot Username/Password – OrphanSys</title>
{% endblock %}

{% block metatags %}
{% endblock %}

{% block style %}
{% endblock %}

{% block body %}
<!-- Section: Design Block -->
<section class="vh-100 d-flex align-items-center justify-content-center" style="background-color: hsl(0, 0%, 96%)">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        Forgot<br />
                        <span class="text-primary">Username or Password</span>
                    </h1>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                            {% elif message.tags == 'success' %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                            {% endif %}
                            {% endfor %}


                            <form action="" method="POST">
                                {% csrf_token %}

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example3">Email</label>
                                    {{ form.email|add_class:'form-control'| append_attr:"placeholder:Enter email"}}
                                </div>

                                <div class="text-center mt-5">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
{% endblock %}