{% extends "base/admin_base.html" %}
{% load static crispy_forms_tags widget_tweaks %}


{% block title %}
<title>Add Item | OrphanSys</title>
{% endblock %}

{% block breadcrumbs %}
<div class="pagetitle">
    <h1>Add Item</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="item_management">Item Management</a></li>
            <li class="breadcrumb-item active">Add Item</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
{% endblock %}

{% block content %}
{% if i_form.errors %}
<div class="alert alert-danger" role="alert">
    <ul>
        {% for field in i_form %}
        {% for error in field.errors %}
        <li>{{ error|escape }}</li>
        {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-danger" role="alert">
    {{message|linebreaksbr}}
  </div>
{% endif %}
{% endfor %}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-6 col-sm-2">
        </div>
        <div class="col-6 col-sm-7">
            <div class="card p-4">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3">Item name</label>
                            {{ i_form.name|add_class:'form-control' | append_attr:"placeholder:Enter item name"}}
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3">Required</label>
                            {{ i_form.rqd|add_class:'form-control' | append_attr:"placeholder:Enter required number"}}
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3">Date</label>
                            {{ i_form.date|add_class:'form-control' | append_attr:"placeholder:Select date"}}
                        </div>
                        <span class="float-right">
                            <button type="submit" class="btn btn-primary" style="background-color: #4154f1;">Submit</button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a href="{% url 'item_management' %}" class="btn btn-primary" style="background-color: #4154f1; width: 40px; height: 40px; margin-top: 40px;">
      <i class="fa-sharp fa-solid fa-arrow-left"></i>
    </a>
</div>

{% endblock %}

{% block child_script %}
<script>
</script>
{% endblock %}