{% extends "base/admin_base.html" %}
{% load static crispy_forms_tags widget_tweaks %}

{% block title %}
<title>Update Donor | OrphanSys</title>
{% endblock %}

{% block breadcrumbs %}
<div class="pagetitle">
    <h1>Update Donor</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'donor_management' %}">Donor Management</a></li>
            <li class="breadcrumb-item active">Update Donor</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
{% endblock %}

{% block content %}
{% if cu_form.errors or d_form.errors %}
<div class="alert alert-danger" role="alert">
    <ul>
        {% for field in cu_form %}
        {% for error in field.errors %}
        <li>{{ error|escape }}</li>
        {% endfor %}
        {% endfor %}

        {% for field in d_form %}
        {% for error in field.errors %}
        <li>{{ error|escape }}</li>
        {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-6 col-sm-2">
        </div>
        <div class="col-6 col-sm-7">
            <div class="card p-4">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-outline mb-4 col-md-5">
                                <label class="form-label" for="form3Example3">Username</label>
                                {{ cu_form.username|add_class:'form-control' | append_attr:"placeholder:Enter username"}}
                            </div>
                            <div class="form-outline mb-4 col-md-7">
                                <label class="form-label" for="form3Example3">Email address</label>
                                {{ cu_form.email|add_class:'form-control' | append_attr:"placeholder:Enter email address"}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4">
                              <div class="form-outline">
                                <label class="form-label" for="form3Example3">First name</label>
                                {{ cu_form.first_name|add_class:'form-control' | append_attr:"placeholder:Enter first name"}}
                              </div>
                            </div>
                            <div class="col-md-6 mb-4">
                              <div class="form-outline">
                                <label class="form-label" for="form3Example3">Last name</label>
                                {{ cu_form.last_name|add_class:'form-control' | append_attr:"placeholder:Enter last name"}}
                              </div>
                            </div>
                          </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3">Phone Number</label>
                            {{ cu_form.phone_number|add_class:'form-control' | append_attr:"placeholder:Enter phone number"}}
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3">Gender</label>
                            {{ d_form.gender|add_class:'form-control' | append_attr:"placeholder:Enter gender"}}
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3">Date of Birth</label>
                            {{ d_form.date_of_birth|add_class:'form-control' | append_attr:"placeholder:Enter date of birth"}}
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3">Occupation</label>
                            {{ d_form.occupation|add_class:'form-control' | append_attr:"placeholder:Enter occupation"}}
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3">Annual Income</label>
                            {{ d_form.annual_income|add_class:'form-control' | append_attr:"placeholder:Enter annual_income"}}
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3">Address</label>
                            {{ d_form.address|add_class:'form-control' | append_attr:"placeholder:Enter address"}}
                        </div>
                    
                        {{ cu_form.role|append_attr:"hidden"|append_attr:"value:2"}}
                    
                        <span class="float-right">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </span>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block child_script %}
<script>
</script>
{% endblock %}