{% extends "base/admin_base.html" %} 
{% load static crispy_forms_tags widget_tweaks %} 

{% block title %}
<title>Dashboard | OrphanSys</title>
{% endblock %} 

{% block breadcrumbs %}
<div class="pagetitle">
  <h1>Add Orphan</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="orphan_management">Orphanage Management</a>
      </li>
      <li class="breadcrumb-item active">Add Orphan</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->
{% endblock %} 
{% block content %} 
{% if g_form.errors or o_form.errors %}
<div class="alert alert-danger" role="alert">
  <ul>
    {% for field in g_form %} 
    {% for error in field.errors %}
    <li>{{ error|escape }}</li>
    {% endfor %} 
    {% endfor %} 

    {% for field in o_form %} 
    {% for error in field.errors %}
    <li>{{ error|escape }}</li>
    {% endfor %} 
    {% endfor %}
  </ul>
</div>
{% endif %}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row">
    <div class="form-outline mb-4 col-md-5">
      <label class="form-label" for="form3Example3">Guardian IDN</label>
      {{ g_form.idn|add_class:'form-control' | append_attr:"placeholder:Enter identification no"}}
    </div>
    <div class="form-outline mb-4 col-md-7">
      <label class="form-label" for="form3Example3">Guardian first name</label>
      {{ g_form.first_name|add_class:'form-control' | append_attr:"placeholder:Enter first name"}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="form-outline">
        <label class="form-label" for="form3Example3">Guardian last name</label>
        {{ g_form.last_name|add_class:'form-control' | append_attr:"placeholder:Enter last name"}}
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="form-outline">
        <label class="form-label" for="form3Example3"
          >Guardian birth date</label>
        {{ g_form.dob|add_class:'form-control' | append_attr:"placeholder:Enter birth date"}}
      </div>
    </div>
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="form3Example3">Guardian gender</label>
    {{ g_form.gender|add_class:'form-control' | append_attr:"placeholder:Enter gender"}}
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="form3Example3">Guardian occupation</label>
    {{ g_form.job|add_class:'form-control' | append_attr:"placeholder:Enter job"}}
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="form3Example3">Guardian Email</label>
    {{ g_form.email|add_class:'form-control' | append_attr:"placeholder:Enter email"}}
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="form3Example3">Guardian Phone Number</label>
    {{ g_form.phone|add_class:'form-control' | append_attr:"placeholder:Enter phone number"}}
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="form3Example3">Guardian Address</label>
    {{ g_form.add|add_class:'form-control' | append_attr:"placeholder:Enter address"}}
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="form3Example3">Orphan IDN</label>
    {{ o_form.idn|add_class:'form-control' | append_attr:"placeholder:Enter identification no"}}
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="form3Example3">Orphan first name</label>
    {{ o_form.first_name|add_class:'form-control' | append_attr:"placeholder:Enter first name"}}
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="form3Example3">Orphan last name</label>
    {{ o_form.last_name|add_class:'form-control' | append_attr:"placeholder:Enter last first_name"}}
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="form3Example3">Orphan gender</label>
    {{ o_form.gender|add_class:'form-control' | append_attr:"placeholder:Enter gender"}}
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="form3Example3">Orphan dental image</label>
    {{ o_form.dental_img|add_class:'form-control' | append_attr:"placeholder:Enter dental image"}}
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="form3Example3">Orphan estimated age</label>
    {{ o_form.est_age|add_class:'form-control' | append_attr:"placeholder:Enter estimated age"}}
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="form3Example3">Orphan status</label>
    {{ o_form.status|add_class:'form-control' | append_attr:"placeholder:Enter status"}}
  </div>

  <span class="float-right">
    <button type="submit" class="btn btn-primary" style="background-color: #4154f1;">Submit</button>
  </span>
</form>

<div>
  <a href="" class="btn btn-primary" style="background-color: #4154f1; width: 40px; height: 40px; margin-top: 40px;">
    <i class="fa-sharp fa-solid fa-arrow-left"></i>
  </a>
</div>

{% endblock %} 

{% block child_script %}
<script></script>
{% endblock %}
